body {
    margin: 0; 
    -ms-overflow-style: none /* IE and Edge 스크롤바 없애는 css*/;
     scrollbar-width: none; /* Firefox 스크롤바 없애는 css */
}
body::-webkit-scrollbar  {
    display: none; /* Chrome , Safari , Opera 스크롤바 없애는 css*/
}
.navbar { 
    position: fixed;
    display: inline-block;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    font-size: 0;
    z-index: 1;
}
/* 현재 페이지 버튼 */
.navbar button:disabled {
    width: 17px;
    height: 17px;
    border: #0A0A0A;
    background: #0A0A0A;
}
.navbar button {
    display: flex;
    margin: 0 auto;
    width: 13px;
    height: 13px;
    border: rgba(50, 48, 48, 0.5);
    background: rgba(50, 48, 48, 0.5);
    border-radius: 50%;
    margin-bottom: 20px;
}
.navbar button:first-of-type { display: none; }
.navbar button:last-of-type { display: none; }

.Menu { display: fixed; z-index: 9999;}
.page {
    position: relative;
    height: 100vh;
    margin: 0 auto;
    padding: 50px 50px;
    background-color: #F2F2F2;
}



